*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ul {
    list-style:none;
} */
a {
    text-decoration: none;
}
header {
    background-color: rgb(50, 48, 48);
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    padding: 0 5rem;
    position:fixed;
}
header ul {
    display: flex;
}
header li a {
    color: #fff;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}
/* .image > img {
    height: 60vh;
    width:100vw;
    background-position: center;
} */
header> nav >ul  {
    list-style: none;
}
#image {
    background-image: url(https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped);
    background-position: center;
    background-size: cover;
    height:100vh;  
    color: white;
}
.services-button {
    background-color:white;
    border-radius: 5%;
    padding : 8px;;
    text-transform: uppercase;
    color: black;
    font-size: 0.8rem;
    
}
.services-button:hover {
    background-color:rgba(0, 0,0,0.1)
}
.text-container {
    text-align: center;

}
.text-container> h1, h4 ,ul{
    /* padding: 1rem; */
    margin: 1rem;
}
h1 {
    font-size: 2.5rem;
}
h4 {
    width: 60%;
    margin: auto;
}
.text-container> ul{
    padding: 1rem;
    margin: 1rem;
}
Article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.box >img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.services {
    /* background-color:whitesmoke; */
    text-align: center;
    margin-bottom: 4rem;
}
.services>p{
    font-size: 13px;
    
}
.services-content {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 29%;
    margin: 0.5rem;
    background-color:white;
    padding: 2rem;
    margin: 1rem;
}
.box >p {
    font-size: 13px;
}
body {
    background-color: whitesmoke;
}
.about-center,.contact-center {
    text-align: center;
}
.about-us > h4 {
    text-align: left
}
.about-us-content > h5,p  {
    /* padding: 1rem; */
    margin: 10px;
}
.about-us-content > h5  {
    font-size: 1rem;
}
bottom {
    display:flex;
    justify-content: space-around;
}
/* .address-menu > ul{
    list-style: none;
    
} */
.address-menu {
    text-align:left;
    
}
.align-form {
    /* width: 30px; */
    text-align: left;
}
.send-button {
    background-color:rgb(43, 40, 40);
    padding: 8px;
    border-radius: 5px;
}
a {
    color: white;
}
.align-form >ul {
    list-style: none;
    
}
.about-us {
    margin-bottom: 4rem;
}